body  {
    background: url("../BooleanChallenge/background.jpg");
    background-size: cover;
    color: white;
}

.sfondotrasparente {
    background-color: black;
    opacity: 0.7;
    text-align: center;
    width: 950px;
    height: 600px;
    margin: auto;
    padding: 125px;
    margin-top: 25px;
    border-radius: 1%;
}

img{
    width: 200px;
}

input[type="button"] {
    margin-top: 15px;
}

.greenbox {
    background-color: rgba(58, 205, 50, 0.886);
    text-align: center;
    width: 1000px;
    height: 50px;
}
  
.container {
    text-align: left;
    width: 1100px;
    margin: auto;
}

h1 {
    color: limegreen;
    padding: 0px;
    margin: 5px;
}

h2 {
   display:inline-block;
   margin-bottom: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

.yellowbar {
    background-color: rgba(249, 187, 2, 0.85);
    width: 285px;
    height: 25px;
    border-radius: 3%;
    margin-top: 3px;
}

.greenbar {
    background-color: rgba(2, 249, 2, 0.524);
    width: 600px;
    height: 25px;
    border-radius: 3%;
    margin-top: 3px;
}

.redbar {
    background-color: rgba(249, 2, 2, 0.524);
    width: 130px;
    height: 25px;
    border-radius: 3%;
    margin-top: 3px;
}